:root {
  --bg-main: #000000;
  --bg-secondary: #0f0f0f;

  --text-primary: #ffffff;
  --text-secondary: #cfcfcf;

  --border: rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background: #ffffff;   /* 👈 BLANCO */
  color: #000000;        /* 👈 TEXTO NEGRO */
}

/* Tipografía global */
h1, h2, h3 {
  font-weight: 600;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-secondary);
}

section {
  margin-bottom: 64px;
}
